.messageListContainer {

    padding-bottom: 40px;

    @media(max-width: 968px) {
        grid-area: messageList;
    }

    > img {
        margin-top: 32px;
        margin-bottom: 100px;
    }

    .messageList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 50px;

        li {
            width: 440px;

            @media(max-width: 1024px) and (min-width: 768px) {
                width: 100%;
                max-width: 440px
            }

            @media(max-width: 968px) {
                margin: 0 auto;
            }
            p {
                font-size: 18px;
                color: #E1E1E6;
                font-family: 'Roboto', sans-serif;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 16px;

                div {
                    padding: 2px;
                    border-radius: 50%;
                    background: linear-gradient(100deg, #ff008e 0%, #ffcd1e 100%);
                    line-height: 0;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: solid 4px #121214;
                    }
                }

                span {
                    font-size: 18px;
                    color: #E1E1E6;
                    font-family: 'Roboto', sans-serif;
                }
            }

            &:nth-child(2) {
                margin-left: 60px;

                @media(max-width: 968px) {
                    margin: 0 auto;
                    padding-left: 60px;
                }
            }
        }
    }
}